@media screen and (max-width: 480px) {
  .ContactPage {
    display: grid;
    height: 80vh;
  }
}

@media screen and (min-width: 480px) {
  .ContactPage {
    display: grid;
    height: 80vh;
  }
}
