@media screen and (max-width: 480px) {
  .MediaPage {
    height: 80vh;
    display: grid;
    justify-items: center;
    align-items: center;
  }
}

@media screen and (min-width: 480px) {
  .MediaPage {
    height: 80vh;
    display: grid;
  }
}
