.App {
  display: grid;
  grid-template-columns: 1fr;
}

.App .Navbar,
.App .Router,
.App .Footer {
  align-self: stretch;
  justify-self: stretch;
}

.App .Navbar,
.App .Footer {
  background-color: black;
  color: white;
}
