@media screen and (max-width: 480px) {
  .Navbar {
    display: grid;
    grid-template-columns: 1fr 0.15fr 0.15fr 0.15fr;
    align-items: center;
    overflow: hidden;
    height: center;
  }

  .title {
    text-align: left;
  }

  .about,
  .media,
  .contact {
    text-decoration: none;
    color: white;
  }

  p {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media screen and (min-width: 480px) {
  .Navbar {
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr 0.15fr 0.15fr 0.15fr;
    align-items: center;
    overflow: hidden;
    height: center;
  }

  .title {
    text-align: left;
    padding-left: 12px;
    padding-right: 12px;
  }

  .about,
  .media,
  .contact {
    text-decoration: none;
    color: white;
    text-align: center;
  }
}
